<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="email/base :: head">
    <title>Password Reset Request</title>
</head>
<body>
    <div th:replace="email/base :: container">
        <div class="content">
            <h2>Password Reset Request</h2>
            <p>Hello <span th:text="${name}">User</span>,</p>
            
            <p>We received a request to reset your password. If you didn't make this request, you can safely ignore this email.</p>
            
            <p>To reset your password, click the button below:</p>
            
            <a th:href="${resetLink}" class="button">Reset Password</a>
            
            <p>This link will expire in <span th:text="${expiryTime}">24 hours</span>.</p>
            
            <p>For security reasons, this link can only be used once.</p>
            
            <p>If you're having trouble clicking the button, copy and paste this URL into your browser:</p>
            <p th:text="${resetLink}">Reset Link</p>
            
            <p>Best regards,<br>
            The <span th:text="${company}">Company</span> Team</p>
        </div>
    </div>
</body>
</html> 